version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    cooldown:
      default-days: 4
      exclude: 
        - "@ibm-cloud/cloudant"
