# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# build tool config
Jenkinsfile
.travis.yml

# code examples
examples

# docs
CONTRIBUTING.md
DCO1.1.txt

# github config
.github

# linters
.eslintrc*

# npm
.npmignore

# tests
citest
test
toxytests

# test logs
backup.txt
npm-debug.log
out
